* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif !important;
    background-color: var(--white) !important;
    height: 100vh !important;
}

:root {
    --red: #d8460b;
    --yellow: #f9c13e;
    --blue: #007291;
    --white: #f9f2db;
    --pink: #f2624f;
}

header {
    display: flex;
}

#logo {
    position: relative;
    width: fit-content;
    margin: auto;
}

    #logo h2 {
        font-size: 90px;
    }

        #logo h2:nth-child(1) {
            width: fit-content;
            color: var(--red);
        }

        #logo h2:nth-child(2) {
            color: var(--yellow);
            animation: animate infinite 5s linear;
            position: absolute;
            top: 0;
        }

@keyframes animate {
    0%, 100% {
        clip-path: polygon(0% 44%, 17% 31%, 39% 23%, 66% 23%, 85% 26%, 100% 30%, 100% 55%, 84% 48%, 66% 44%, 41% 46%, 22% 54%, 0% 69%);
    }

    25% {
        clip-path: polygon(0 26%, 20% 28%, 39% 31%, 64% 34%, 82% 39%, 100% 46%, 100% 69%, 81% 63%, 64% 60%, 40% 56%, 22% 54%, 0 53%);
    }

    50% {
        clip-path: polygon(0 41%, 20% 44%, 43% 50%, 64% 58%, 81% 58%, 100% 57%, 100% 85%, 83% 86%, 64% 84%, 42% 77%, 21% 69%, 0 68%);
    }

    75% {
        clip-path: polygon(0 55%, 20% 60%, 43% 62%, 64% 53%, 80% 43%, 100% 32%, 100% 63%, 87% 72%, 66% 81%, 43% 90%, 19% 88%, 0 84%);
    }
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    background-color: var(--pink);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: 0 0 10px black;
}

    .sidenav a {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        text-decoration: none;
        color: var(--white);
        font-size: 25px;
        white-space: nowrap;
    }

        .sidenav a:hover {
            color: wheat;
            text-decoration: solid
        }

    .sidenav .closebtn {
        position: absolute;
        top: -25px;
        right: 25px;
        font-size: 65px;
        margin-left: 50px;
    }

@media screen and (max-width: 500px) {
    #logo h2 {
        font-size: 70px;
    }

    .open {
        margin-left: 10px !important;
    }
}

.open {
    line-height: 500%;
    margin-left: 30px;
    font-size: 30px;
    cursor: pointer;
    color: var(--red);
}

.fish {
    margin: auto;
    cursor: pointer;
    background-color: transparent;
    width: 250px;
    height: 150px;
    perspective: 1000px;
}

.fish-inner {
    text-align: center;
    border-radius: 5%;
    position: relative;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
}

.fish-front, .fish-back {
    font-size: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.fish-front {
    border-radius: 5%;
    background-color: var(--yellow);
    color: var(--red);
}

.fish-back {
    border-radius: 5%;
    background-color: var(--red);
    color: var(--yellow);
    transform: rotateY(180deg);
}

.transform-active {
    transform: rotateY(180deg);
}

.profile-photo {
    border: solid 2px var(--white);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}

main {
    margin-top: 60px;
}

    main article {
        display: flex;
        flex-direction: row;
    }

    main img {
        position: relative;
        top: 20px;
        margin: auto;
        visibility: hidden;
        transition: transform 2s, opacity 2s;
    }

.newFish {
    margin: auto;
}

    .newFish tr td {
        padding: 4px;
    }

.thumb-transform {
    visibility: initial;
    transform: translateY(-70px);
    opacity: 0;
}

.guess textarea {
    text-align: center;
    display: block;
    margin: 40px auto 10px;
    background-color: transparent;
    border-style: none;
    font-size: 25px;
    outline: none;
    resize: none;
    opacity: 0.6;
    background-image: repeating-linear-gradient(transparent, transparent 40px, grey 40px, grey 41px);
}

.button {
    text-decoration: none;
    width: 150px;
    display: block;
    margin: auto;
    font-size: 15px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
}

.guessButton {
    color: var(--white);
    background-color: var(--red);
}

    .guessButton:hover {
        background-color: #c7350a
    }

    .guessButton:active {
        background-color: #c7350a;
        box-shadow: 0 3px #666;
        transform: translateY(3px);
    }

.nextButton {
    color: var(--red);
    background-color: var(--yellow);
}

    .nextButton:hover {
        background-color: #d8b02d
    }

    .nextButton:active {
        background-color: #d8b02d;
        box-shadow: 0 3px #666;
        transform: translateY(3px);
    }

.profile-photo {
    border: solid 2px var(--white);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}

main {
    margin-top: 60px;
}

    main article {
        display: flex;
        flex-direction: row;
    }

    main img {
        position: relative;
        top: 20px;
        margin: auto;
        visibility: hidden;
        transition: transform 2s, opacity 2s;
    }

.thumb-transform {
    visibility: initial;
    transform: translateY(-70px);
    opacity: 0;
}

.guess textarea {
    text-align: center;
    display: block;
    margin: 40px auto 10px;
    background-color: transparent;
    border-style: none;
    font-size: 25px;
    outline: none;
    resize: none;
    opacity: 0.6;
    background-image: repeating-linear-gradient(transparent, transparent 40px, grey 40px, grey 41px);
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: var(--red);
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loader:before,
    .loader:after {
        content: '';
        position: absolute;
        top: 0;
    }

    .loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader:after {
        left: 3.5em;
    }

@-webkit-keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}


.sets {
    margin-top: 70px;
    margin: auto;
}

.set {
    background-color: wheat;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6%;
    display: inline-block;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
    width: 49%;
}

    .set h4 {
        text-align: center;
        font-weight: 700;
    }

    .set .buttons {
        text-align: center;
    }

    .set a {
        text-decoration: none;
        color: inherit;
        padding-right: 5px;
    }

        .set a:hover {
            color: var(--pink);
        }

    .set figure {
        position: relative;
        margin-bottom: 7px;
    }

        .set figure::after {
            content: "";
            display: block;
            padding-bottom: 90%;
        }

    .set img {
        border: 1px solid grey;
        border-radius: 6%;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

@keyframes fadeIn {
    from { opacity: 0; }

    to {
        transform: translate(0px, 40px);
        opacity: 1;
    }
}

#flexContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

    #flexContainer .fish {
        cursor: default;
        width: 210px;
        height: 130px;
        margin: 10px 30px 10px 30px;
    }

    #flexContainer .button {
        margin: 0px 10px 0px 10px;
    }

.loginTextBox {
    font-size: 18px;
    padding: 5px; 
    width: 200px; 
    height: 40px;
}