
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>my404Error</title>
</head>
<body>
    <div> 
        Error 404 - page not found;
    </div>
</body>
</html>
