@model LasFiszkas.Models.RegisterVM
@{
    ViewBag.Title = "Twoje konto";
}

@{
    string imgSrc;
    if (Model.ProfileImageFIle != null)
    {
        var base64 = Convert.ToBase64String(Model.ProfileImageFIle);
        imgSrc = string.Format("data:image/png;base64,{0}", base64);
    }
    else
    {
        imgSrc = Url.Content("~/Content/Prototype/img/flag.jpg");
    }
    <div style="margin: auto;">
        <h1>@Model.NickName</h1>
        <h2>@Model.Email</h2>
        <img src='@imgSrc' alt="set" />
    </div>
}

