@model List<LasFiszkas.Models.Fish>
@{
    ViewBag.Title = "NewSet";
}


    @using (Html.BeginForm("NewSet", "Sets", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="uploadImage" />
@*        <table class="newFish">
            @for (int i = 0; i < 3; i++)
            {
                <tr>
                    <td>Przód:</td>
                    <td>@Html.TextBoxFor(f => f[i].PlContent)</td>
                    <td>@Html.ValidationMessageFor(f => f[i].PlContent)</td>

                    <td>Tył:</td>
                    <td>@Html.TextBoxFor(f => f[i].EspContent)</td>
                    <td>@Html.ValidationMessageFor(f => f[i].EspContent)</td>

                </tr>
            }
        </table>*@
        <input type="submit" value="Dodaj" class="button guessButton"/>
    }