
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<h2>Index2</h2>

@section ScriptsBottom{
    <script type="text/javascript" src="@Url.Content("~/Content/Prototype/scripts/mainPage.js")"></script>
}
